body {
    background-color: rgb(178,34,34);
}

h1 {
    font-family: 'Josefin Slab';
    color: rgb(255, 255, 240);
    font-size: 55px;
    font-size: 3.5em;
    text-align: center;
}

header {
    padding-top: 2%;
    padding-bottom: 2%;
}

.btn {
    text-transform: uppercase;
    margin: 5px;
    font-family: 'Montserrat';
    color: rgb(230, 218, 194);
}

#buttons {
    margin-left: 15px;
    margin-right: auto;
}

#submit-button {
    text-transform: uppercase;
    margin: 5px;
    font-family: 'Montserrat';
    color: rgb(230, 218, 194);
    /* background-color: rgb(243, 178, 58); */
    background-color: rgb(56, 55, 53);
    height: 35px;
    width: 180px;
    border-radius: 5px;
    border: none;
}

#submit-button:hover {
    color: black;
}

#user-input {
    width: 380px;
    display: inline-block;
    height: 32px;
    margin-top: 6px;
}

p {
    margin-top: 25px;
    margin-bottom: 3px;
    color: rgb(230, 218, 194);
    text-transform: uppercase;
}

#load-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: 'Montserrat';
    background-color: rgb(56, 55, 53);
    color: rgb(230, 218, 194);
    margin-top: 30px;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border: none;
}

#load-button:hover {
    opacity: .7;
}

form {
    justify-content: center;
    margin-top: 8px;
}

input {
    display: inline-block;

}

.btn {
    text-transform: uppercase;
    margin: 5px;
    font-family: 'Montserrat';
    color: rgb(230, 218, 194);
}

.icon {
    height: 3%;
    /* flex-direction: row; */

}

img {
    border-radius: 3px;
}

footer {
    margin-top: 50px;
    margin-bottom: 30px;
}

.msg {
    font-family: 'Montserrat', serif;
    text-transform: uppercase;
    color: rgb(255, 255, 240);
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 2%;
}

.row {
    display: flex;
    justify-content: space-around;
}